@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  background-color: #fafafa;
  margin: 0;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
    max-width: 600px;
    width: 100%;
}

.desc {
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.desc > img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.message {
    background-color: #fafafa;
    padding: 4px;
    margin-bottom: 6px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    white-space: normal;
}

.general {
    color: #333;
}

.message > .avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message > .avatar > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.by {
    font-weight: 600;
    flex: 0 0 auto;
    display: inline-block;
    align-items: center;
    margin-right: 85%;
}

.by::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    height: 0;
    display: block;
}

.sheet-rolltemplate-coc-1 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.sheet-rolltemplate-type-coc-attack-1 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.neon {
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: "georgia", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    line-height: 1.3;
    margin: 0px 0px 7px 0;
    color: white;
    text-shadow: 0 0 2px white, 0 0 3px #0000ff, 0 0 10px #0000ff, 0 0 15px #0000ff;
}

table {
  font-size: .9em;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
  margin: 4px;
  padding: 10px;
}

table > caption {
  font-size: 1.2em;
  font-weight: 600;
  padding: 10px;
  border-radius: 12px 12px 0 0;
  background-color: #333;
  color: #fff;
}

table > tbody > tr {
  background-color: #fff;
}

table > tbody > tr > td {
  padding: 10px;
  border: none !important;
  text-align: center
}

table > tbody > tr > td.sheet-template_label {
    font-weight: 600;
    text-align: center;
}

.emote {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    background-color: #10203b;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.tstamp {
    visibility: hidden;
}

.narr {
    margin-right: 4px !important;
    /* margin-top: 8px !important; */
}